{% load staticfiles %}
<html>
    <head>
        <title>Robot Table Server</title>
    </head>
<body>

    <button type="button" id="connect">Connect</button> <br/>
    <button type="button" id="disconnect">Disconnect</button> <br/>

    <button type="button" id="irs">Get IRS</button>

    <p id="show">


    </p>

    <script src="{% static "js/jquery-1.10.1.min.js" %}"></script>
    <!-- // <script src="http://code.jquery.com/jquery-1.10.1.min.js" type="text/javascript"></script> -->

    <script>

        var interval;
        function makeHttpObject() {
          try {return new XMLHttpRequest();}
          catch (error) {}
          try {return new ActiveXObject("Msxml2.XMLHTTP");}
          catch (error) {}
          try {return new ActiveXObject("Microsoft.XMLHTTP");}
          catch (error) {}

          throw new Error("Could not create HTTP request object.");
        }

        function displayIrs() {
            $.get("irs", function(data) {
                $("#show").html(
                    "IR 1 : X:" + data[0].X  + " Y:" + data[0].Y + "<br/>"
                    + "IR 2 : X:" + data[1].X  + " Y:" + data[1].Y + "<br/>"
                    + "IR 3 : X:" + data[2].X  + " Y:" + data[2].Y + "<br/><br/>");
            });
        }

        $("#connect").click(function(){
            var request = makeHttpObject();
            request.open("GET", "connect/", false);
            request.send(null);
            console.log(request.responseText);
        });

        $("#disconnect").click(function(){
            var request = makeHttpObject();
            request.open("GET", "disconnect/", false);
            request.send(null);
            console.log(request.responseText);
            clearInterval(interval);
        });

        $("#irs").click(function(){
            interval = setInterval(function(){displayIrs()},500);
        });

    </script>
</body>
</html>