<html>
    <head>
        <title>Robot Table Server</title>
    </head>
<body>

    <button type="button" id="start_game">Start game</button> <br/>
    <button type="button" id="stop_game">Stop game</button> <br/>

    <script src="static/js/jquery-1.10.1.min.js"></script>

    <script>

        var interval;
        function makeHttpObject() {
          try {return new XMLHttpRequest();}
          catch (error) {}
          try {return new ActiveXObject("Msxml2.XMLHTTP");}
          catch (error) {}
          try {return new ActiveXObject("Microsoft.XMLHTTP");}
          catch (error) {}

          throw new Error("Could not create HTTP request object.");
        }

        $("#irs").click(function(){
            interval = setInterval(function(){displayIrs()}, 500);
        });

        $("#start_game").click(function() {
            var request = makeHttpObject();
            request.open("GET", "start_game/", false);
            request.send(null);
            console.log(request.responseText);
        });

        $("#stop_game").click(function() {
            $.get("stop_game", function(data) {
                console.log(data);
                clearInterval(interval);
            });
        });

    </script>
</body>
</html>